body {
  padding: 50px;
  font-family: 'Calibri';
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  height: auto;
  padding: 20px;
  text-align: center;
  background-color: #D8D8D8;
  border-radius: 8px;
}

input {
  width: 280px;
  height: 27px;
  padding: 7px;
  margin: 12px;
  font-family: 'Calibri';
  font-size: 16px;
  background-color: #fff;
  outline: none;
  border-radius: 8px;
  border: none;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  margin-top: 8px;
  background-color: #fff;
  border-radius: 8px;
}

button {
  padding: 11px;
  font-family: 'Calibri';
  font-weight: bold;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.update, .complete, .delete {
  padding: 5px;
  background-color: transparent;
}