body {
  padding: 1em;
  font-family: 'Calibri';
  background-color: #ddd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  text-align: center;
}


h1 {
  color: #192772;
}

input {
  width: 20em;
  height: 2em;
  padding: .5em;
  border: none;
  border-radius: .5em;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: .2em;
  margin-top: .5em;
  border-radius: .5em;
  font-size: 14px;
}

.complete {
  background-color: green;
}

.delete {
  background-color: red;
}

button {
  background-color: #192772;
  color: white;

  padding: .7em;
  margin-right: .1em;
  margin-left: .7em;
  border-radius: .5em;
  border: none;

  cursor: pointer;

  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

