body {
  padding: 3em;
  font-family: 'Calibri';
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 50%;
  height: auto;
  padding: 1em;
  border-radius: .6em;
  background-color: #D8D8D8;
  text-align: center;
}

input {
  width: 20em;
  height: 2em;
  padding: .5em;
  border: none;
  outline: none;
  border-radius: .6em;
  background-color: #fff;
  margin: 1em;
}

::placeholder {
  font-family: 'Calibri';
  font-size: 14px
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: .2em;
  margin-top: .5em;
  border-radius: .6em;
  font-size: 14px;
}

.complete, .delete {
  padding: .3em;
  background-color: transparent;
}

button {
  background-color: #000000;
  color: #fff;
  font-family: 'Calibri';

  padding: .8em;
  border-radius: .5em;
  border: none;

  cursor: pointer;

  opacity: 0.7;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

